.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto auto auto;
  
      & .collection-item {
        width:100%;
        margin-bottom: 30px;
      }
    }
  }